<div class="flex flex-col items-center justify-center">
  <div class="banner">
    <div
      class="min-h-64 text-white bg-gradient-to-r from-teal-900 via-sky-700 to-violet-700 w-full p-8 md:px-16 drop-shadow-xl"
    >
      <div class="flex flex-row items-center justify-between">
        <div>
          <h1 class="font-bold text-3xl md:text-5xl">
            {{ "LandingPage.Title" | translate }}
          </h1>
          <p class="md:w-4/5 p-4">
            {{ "LandingPage.Description" | translate }}
          </p>
          @if(!isLoggedIn()){
          <span class="ml-4 flex items-center">
            {{ "LandingPage.GetStarted" | translate }}:
            <asl-google-signin-button
              class="ml-4"
              type="icon"
              shape="pill"
              theme="outline"
              size="large"
            ></asl-google-signin-button>
          </span>
          }
        </div>
        <div
          class="relative hidden md:flex md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6"
        >
          <div class="absolute top-[-40px] right-[-30px]">
            <div
              class="bg-yellow-400 h-20 w-20 animate-pulse !rounded-full shadow-lg"
            ></div>
          </div>
          <div class="relative flex items-center justify-center">
            <div class="bg-white h-24 w-32 rounded-full shadow-md"></div>
            <div
              class="absolute bg-slate-100 h-20 w-24 rounded-full shadow-md top-2 left-[-20px]"
            ></div>
            <div
              class="absolute bg-teal-50 h-20 w-24 rounded-full shadow-md top-2 right-[-25px]"
            ></div>
            <div
              class="absolute bg-neutral-50 h-20 w-24 rounded-full shadow-md top-[30px] left-4"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-2 w-4/5">
    <h2 class="font-bold text-2xl md:text-3xl p-4">
      {{ "LandingPage.Features" | translate }}:
    </h2>
    <div
      class="flex justify-center flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ "LandingPage.Features.Weather" | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            {{ "LandingPage.Features.Weather.Description" | translate }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ "LandingPage.Features.AirQuality" | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            {{ "LandingPage.Features.AirQuality.Description" | translate }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ "LandingPage.Features.StationMap" | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            {{ "LandingPage.Features.StationMap.Description" | translate }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="px-2 w-4/5">
    <h2 class="font-bold text-2xl md:text-3xl p-4">
      {{ "LandingPage.Station" | translate }}:
    </h2>
    <div
      class="flex justify-center flex-col space-y-4 md:flex-row md:space-x-8 md:space-y-0"
    >
      <mat-card class="overflow-hidden">
        <div class="bg-white">
          <mat-card-content>
            <img
              imageLoader
              class="h-20"
              src="https://www.espressif.com/sites/all/themes/espressif/logo-black.svg"
              alt=""
            />
            <br />
            <br />
            <p class="text-black justify-self-center">
              {{ "LandingPage.Station.ESP32" | translate }}
            </p>
          </mat-card-content>
        </div>
      </mat-card>
      <mat-card class="overflow-hidden">
        <div class="bg-purple-950">
          <mat-card-content>
            <img
              imageLoader
              class="h-20"
              src="https://mqtt.org/assets/img/mqtt-logo-transp.svg"
              alt=""
            />
            <br />
            <br />
            <p class="text-white justify-self-center">
              {{ "LandingPage.Station.Communication" | translate }}
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
