<mat-card appearance="outlined">
  <mat-card-content>
    @if(sensorData()!==undefined){
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.Temperature" | translate }}: </span>
      <span
        >{{ sensorData()?.temperature }}
        {{ "Shared.TemperatureUnit" | translate }}
      </span>
    </p>
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.Humidity" | translate }}: </span>
      <span
        >{{ sensorData()?.humidity }}
        {{ "Shared.HumidityUnit" | translate }}</span
      >
    </p>
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.Pressure" | translate }}: </span>
      <span
        >{{ sensorData()?.airPressure }}
        {{ "Shared.PressureUnit" | translate }}</span
      >
    </p>
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.PM1_0" | translate }}: </span>
      @if(sensorData()?.pM1_0 !== null){
      <span>{{ sensorData()?.pM1_0 }} {{ "Shared.PMUnit" | translate }}</span>
      }@else {
      <span>{{ "Shared.MeasurementNotAvailable" | translate }}</span>
      }
    </p>
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.PM2_5" | translate }}: </span>
      @if(sensorData()?.pM2_5 !== null){
      <span>{{ sensorData()?.pM2_5 }} {{ "Shared.PMUnit" | translate }}</span>
      }@else {
      <span>{{ "Shared.MeasurementNotAvailable" | translate }}</span>
      }
    </p>
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.PM10" | translate }}: </span>
      @if(sensorData()?.pM10 !== null){
      <span>{{ sensorData()?.pM10 }} {{ "Shared.PMUnit" | translate }}</span>
      }@else {
      <span>{{ "Shared.MeasurementNotAvailable" | translate }}</span>
      }
    </p>
    } 
    @else {
    <p class="flex flex-row justify-between">
      <span>{{ "Shared.WeatherNotFound" | translate }} </span>
    </p>
    }
  </mat-card-content>
</mat-card>
