<div class="flex flex-col items-center justify-center w-full h-full">
  <div class="flex flex-col items-center justify-center w-full h-full">
    <h1 class="text-4xl h-6">
      {{ "UserManagement.Permissions.Title" | translate }}
    </h1>
    <p class="self-end px-2">
      <mat-button-toggle-group
        name="usersViewOptions"
        aria-label="Users View Options"
        [value]="viewSelection()"
        (valueChange)="viewSelection.set($event)"
      >
        <mat-button-toggle
          class="h-8 flex items-center justify-center"
          value="permissionRequests"
          >{{
            "UserManagement.PermissionsListView" | translate
          }}</mat-button-toggle
        >
        <mat-button-toggle
          class="h-8 flex items-center justify-center"
          value="users"
          routerLink="/UserManagement/Users"
          >{{ "UserManagement.UserListView" | translate }}</mat-button-toggle
        >
      </mat-button-toggle-group>
    </p>
  </div>

  <app-permission-request-list class="w-full"></app-permission-request-list>
</div>
