<div
  class="pb-2 px-2 outline outline-zinc-300 outline-1 shadow-lg my-1 relative"
>
  <div>
    <span class="font-bold pr-2"
      >{{ "UserManagement.Permissions.Username" | translate }}:
    </span>
    <span class="mat-headline-6 font-bold pr-2">{{ user().nickname }}</span>
    <span class="mat-body-2">({{ user().email }})</span>
  </div>

  <div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 justify-around my-2 items-start"
    >
      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          <span class="text-xs text-gray-400">
            {{ "UserManagement.Users.UserId" | translate }}:
          </span>
          <br />
          <span class="font-bold">
            {{ user().id }}
          </span>
        </p>
      </div>

      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          <span class="text-xs text-gray-400">
            {{ "UserManagement.Users.UserRole" | translate }}:
          </span>
          <br />
          <span class="font-bold">
            {{ getUserRole() }}
          </span>
        </p>
      </div>

      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          <button
            mat-stroked-button
            (click)="openUserManagementPopup()"
            [disabled]="currentUserDisable()"
          >
            {{ "UserManagement.Users.Action" | translate }}
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
