<mat-sidenav-container class="h-full">
  <mat-toolbar
    class="self-center flex flex-grow-0 justify-items-center content-center space-x-2 h-16 fixed"
  >
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-logo routerLink="Home" class="cursor-pointer"></app-logo>
    <span routerLink="Home" class="text-2xl cursor-pointer hidden sm:block">
      {{ title }}
    </span>
    <span class="flex-grow flex-shrink basis-auto"></span>
    <app-login></app-login>
  </mat-toolbar>
  <mat-sidenav #sidenav>
    <div class="flex flex-col p-4 h-full">
      <div class="flex space-x-2 mb-2">
        <app-logo></app-logo>
        <div class="text-2xl flex justify-center items-center">{{ title }}</div>
      </div>

      <!-- @if(isAuthenticated()){ -->
      <div
        mat-ripple
        routerLink="Home"
        class="cursor-pointer flex items-center space-x-4 py-4 px-2"
        (click)="sidenav.toggle()"
        tabindex="0"
        (keyup.enter)="sidenav.toggle()"
      >
        <mat-icon>home</mat-icon>
        <span class="text-lg">{{ "Navigation.Home" | translate }}</span>
      </div>
      <!-- }  -->
      @if(isAdminRole()){
      <div
        mat-ripple
        routerLink="DeviceManagement"
        class="cursor-pointer flex items-center space-x-4 py-4 px-2"
        (click)="sidenav.toggle()"
        tabindex="1"
        (keyup.enter)="sidenav.toggle()"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span class="text-lg">{{
          "Navigation.AdminDeviceManagement" | translate
        }}</span>
      </div>
      }

      <span class="flex flex-1"></span>
      <div
        mat-ripple
        class="cursor-pointer flex items-center space-x-1 py-4 px-2"
      >
        <app-theme-switch></app-theme-switch>
      </div>
    </div>
  </mat-sidenav>
  <div class="main">
    <ng-scrollbar>
      <div class="content shadow-md">
        <router-outlet></router-outlet>
      </div>
    </ng-scrollbar>
  </div>
</mat-sidenav-container>
