<div class="flex items-center justify-center h-full">
  <mat-card class="h-full w-full">
    <mat-card-header>
      <mat-card-title class="stubborn-text">{{
        "DeviceManagement.Details.Title" | translate
      }}</mat-card-title>
      <span class="absolute right-0 top-0">
        <button mat-icon-button mat-dialog-close>
          <mat-icon class="stubborn-icon">close</mat-icon>
        </button>
      </span>
    </mat-card-header>
    @if(isLoading()){
    <div class="flex items-center justify-center justify-items-center py-4">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    }
    <ng-scrollbar>
      <mat-card-content
        class="stubborn-text"
        style="padding: 2rem 1rem 2rem 1rem"
      >
        <div
          [formGroup]="formGroup"
          class="flex flex-col w-full mx-auto max-w-screen-sm md:max-w-screen-xl"
        >
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{
              "DeviceManagement.Credentials.Id" | translate
            }}</mat-label>
            <input
              formControlName="id"
              matInput
              type="number"
              [readonly]="true"
            />
          </mat-form-field>

          <div class="mat-headline-5 text-center">
            {{ "DeviceManagement.Credentials.Data" | translate }}:
          </div>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{
              "DeviceManagement.Credentials.Username" | translate
            }}</mat-label>
            <input
              formControlName="username"
              matInput
              type="text"
              [readonly]="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{
              "DeviceManagement.Credentials.Password" | translate
            }}</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
              [readonly]="true"
            />
            <mat-icon matSuffix (click)="siwtchPasswordVisibility()">{{
              hide() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{
              "DeviceManagement.Credentials.ClientId" | translate
            }}</mat-label>
            <input
              formControlName="clientId"
              matInput
              type="text"
              [readonly]="true"
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{
              "DeviceManagement.Credentials.Topic" | translate
            }}</mat-label>
            <input
              formControlName="topic"
              matInput
              type="text"
              [readonly]="true"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
    </ng-scrollbar>
  </mat-card>
</div>
