<div
  class="pb-2 px-2 outline outline-zinc-300 outline-1 shadow-lg my-1 relative"
>
  <div>
    <span class="font-bold"
      >{{ "StationsList.StationName" | translate }}:
    </span>
    <span class="mat-headline-6 font-bold">{{
      station().station.deviceName
    }}</span>
  </div>

  <div>
    <div
      class="grid grid-cols-2 md:grid-cols-4 justify-around my-2 items-start"
    >
      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          <span class="text-xs text-gray-400">
            {{ "DeviceManagement.IsActiveStatus" | translate }}:
          </span>
          <br />
          <span class="font-bold">
            {{
              station().station.isActive
                ? ("DeviceManagement.Credentials.Active" | translate)
                : ("DeviceManagement.Credentials.InActive" | translate)
            }}
          </span>
        </p>
      </div>

      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          <span class="text-xs text-gray-400">
            {{ "DeviceManagement.GoogleMapsCode" | translate }}:
          </span>
          <br />
          @if(station().station.googleMapsPlusCode !== null &&
          station().station.googleMapsPlusCode !== ''){
          <span class="font-bold">
            {{ station().station.googleMapsPlusCode }}
          </span>
          }@else {
          <span>
            {{ "DeviceManagement.NoGoogleMapsCode" | translate }}
          </span>
          }
        </p>
      </div>

      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          <span class="text-xs text-gray-400">
            {{ "DeviceManagement.Address" | translate }}:
          </span>
          <br />
          @if (station().address.street && station().address.streetNumber) {
          <span class="font-bold">
            {{ station().address.street }} {{ station().address.streetNumber }},
          </span>
          } @if (station().address.street && !station().address.streetNumber) {
          <span class="font-bold"> {{ station().address.street }}, </span>
          }
          <span class="font-bold">
            {{ station().address.city }}, {{ station().address.voivodship }}
          </span>
        </p>
      </div>

      <div class="flex flex-row items-center">
        <p class="mat-body-1">
          @if(isLoggedIn()){
          <button mat-stroked-button>
            {{ "AvailableStations.Request" | translate }}
          </button>
          }@else {
          <button mat-stroked-button disabled>
            {{ "AvailableStations.Request" | translate }}
          </button>
          }
        </p>
      </div>
    </div>
  </div>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    #storyTasks
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "StationsList.StationDescription" | translate }}
        @if (!panelOpenState) {<mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="expand_more"
        ></mat-icon
        >}@else{
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="expand_less"
        ></mat-icon>
        }
      </mat-panel-title>
    </mat-expansion-panel-header>
    @if(station().station.deviceExtraInfo !== null){
    <p>{{ station().station.deviceExtraInfo }}</p>
    }@else {
    <p>{{ "DeviceManagement.NoDescription" | translate }}</p>
    }
  </mat-expansion-panel>
</div>
